Repository SU-SWS/stanford_media, pull requests merged in 2020-09, with the labels that each got.

#65 cleanup feedback suggestions
  src/Form/MediaLibraryEmbeddableForm.php
  src/Plugin/Field/FieldFormatter/EmbeddableFormatter.php
  src/Plugin/media/Source/Embeddable.php
  tests/src/Kernel/Plugin/media/Source/EmbeddableTest.php
  tests/src/Unit/Form/MediaLibraryEmbeddableFormTest.php
Labels: backend, size/s, tests

#64 fixup! removed field_permissions.
  composer.json
  config/install/field.storage.media.field_media_embeddable_code.yml
  config/install/field.storage.media.field_media_embeddable_oembed.yml
  src/Form/MediaLibraryEmbeddableForm.php
  stanford_media.info.yml
  tests/src/Kernel/Form/MediaLibraryEmbeddableFormTest.php
  tests/src/Kernel/Plugin/Field/FieldFormatter/EmbeddableFormatterTest.php
  tests/src/Kernel/Plugin/media/Source/EmbeddableTest.php
  tests/src/Kernel/Validator/EmbeddableConstraintValidatorTest.php
  tests/src/Unit/Form/MediaLibraryEmbeddableFormTest.php
Labels: backend, patch, size/xs, tests

#61 D8CORE-2521: Adding support for third-party embeds
  config/install/core.entity_form_display.media.embeddable.default.yml
  config/install/core.entity_form_display.media.embeddable.media_library.yml
  config/install/core.entity_view_display.media.embeddable.default.yml
  config/install/core.entity_view_display.media.embeddable.media_library.yml
  config/install/field.field.media.embeddable.field_media_embeddable_code.yml
  config/install/field.field.media.embeddable.field_media_embeddable_oembed.yml
  config/install/field.storage.media.field_media_embeddable_code.yml
  config/install/field.storage.media.field_media_embeddable_oembed.yml
  config/install/media.type.embeddable.yml
  config/schema/stanford_media.schema.yml
  css/stanford_media.css
  scss/stanford_media.scss
  src/Form/MediaLibraryEmbeddableForm.php
  src/Plugin/Field/FieldFormatter/EmbeddableFormatter.php
  src/Plugin/Validation/Constraint/EmbeddableConstraint.php
  src/Plugin/Validation/Constraint/EmbeddableConstraintValidator.php
  src/Plugin/media/Source/Embeddable.php
  stanford_media.module
  tests/src/Kernel/Form/MediaLibraryEmbeddableFormTest.php
  tests/src/Kernel/Plugin/Field/FieldFormatter/EmbeddableFormatterTest.php
  tests/src/Kernel/Plugin/media/Source/EmbeddableTest.php
  tests/src/Kernel/Validator/EmbeddableConstraintValidatorTest.php
  tests/src/Unit/Form/MediaLibraryEmbeddableFormTest.php
Labels: backend, ci, frontend, size/l, tests

#67 8.2.8
  .circleci/config.yml
  CHANGELOG.md
  composer.json
  config/install/core.entity_form_display.media.embeddable.default.yml
  config/install/core.entity_form_display.media.embeddable.media_library.yml
  config/install/core.entity_view_display.media.embeddable.default.yml
  config/install/core.entity_view_display.media.embeddable.media_library.yml
  config/install/field.field.media.embeddable.field_media_embeddable_code.yml
  config/install/field.field.media.embeddable.field_media_embeddable_oembed.yml
  config/install/field.storage.media.field_media_embeddable_code.yml
  config/install/field.storage.media.field_media_embeddable_oembed.yml
  config/install/media.type.embeddable.yml
  config/schema/stanford_media.schema.yml
  css/stanford_media.css
  modules/media_duplicate_validation/media_duplicate_validation.info.yml
  package-lock.json
  scss/stanford_media.scss
  src/Form/MediaLibraryEmbeddableForm.php
  src/Plugin/Field/FieldFormatter/EmbeddableFormatter.php
  src/Plugin/Validation/Constraint/EmbeddableConstraint.php
  src/Plugin/Validation/Constraint/EmbeddableConstraintValidator.php
  src/Plugin/media/Source/Embeddable.php
  stanford_media.info.yml
  stanford_media.module
  tests/src/Kernel/Form/MediaLibraryEmbeddableFormTest.php
  tests/src/Kernel/Plugin/Field/FieldFormatter/EmbeddableFormatterTest.php
  tests/src/Kernel/Plugin/media/Source/EmbeddableTest.php
  tests/src/Kernel/Validator/EmbeddableConstraintValidatorTest.php
  tests/src/Unit/Form/MediaLibraryEmbeddableFormTest.php
Labels: backend, ci, frontend, patch, size/l, tests

#69 D8CORE-2514: Added div to the list of allowed tags in unstructured embeds
  src/Plugin/Field/FieldFormatter/EmbeddableFormatter.php
Labels: backend, size/xs
