Repository SU-SWS/stanford_media, pull requests merged in 2020-04, with the labels that each got.

#48 D8 core 1706
  .github/auto-label.json
  composer.json
  src/Form/MediaLibraryFileUploadForm.php
  tests/src/Kernel/Form/MediaLibraryFileUploadFormTest.php
Labels: backend, ci, size/xs, tests

#51 D8CORE-1644
  .github/workflows/release.yml
  README.md
Labels: ci, size/s

#50 D8CORE-1223 Added caption field to the image modal in wysiwyg
  src/Plugin/MediaEmbedDialog/Image.php
  tests/src/Unit/Plugin/MediaEmbedDialog/ImageTest.php
  tests/src/Unit/Plugin/MediaEmbedDialog/MediaEmbedDialogTestBase.php
Labels: backend, size/s, tests

#49 Hsd8 752 google forms media
  config/schema/stanford_media.schema.yml
  css/stanford_media.css
  scss/stanford_media.scss
  src/Form/MediaLibraryGoogleFormForm.php
  src/Plugin/Field/FieldFormatter/GoogleFormFormatter.php
  src/Plugin/Validation/Constraint/GoogleFormsConstraint.php
  src/Plugin/Validation/Constraint/GoogleFormsConstraintValidator.php
  src/Plugin/media/Source/GoogleForm.php
  stanford_media.module
  tests/src/Kernel/Form/MediaLibraryGoogleFormFormTest.php
  tests/src/Kernel/Plugin/Field/FieldFormatter/GoogleFormFormatterTest.php
  tests/src/Kernel/Plugin/media/Source/GoogleFormTest.php
  tests/src/Unit/Form/MediaLibraryGoogleFormFormTest.php
  tests/src/Unit/Plugin/Validation/Constraint/GoogleFormsConstraintValidatorTest.php
Labels: backend, ci, frontend, size/m, tests

#52 D8CORE-1197 Google forms media type
  config/install/core.entity_form_display.media.google_form.default.yml
  config/install/core.entity_form_display.media.google_form.media_library.yml
  config/install/core.entity_view_display.media.google_form.default.yml
  config/install/core.entity_view_display.media.google_form.media_library.yml
  config/install/field.field.media.google_form.field_media_google_form.yml
  config/install/field.storage.media.field_media_google_form.yml
  config/install/media.type.google_form.yml
Labels: size/s

#53 8.2.5
  .circleci/config.yml
  .github/auto-label.json
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  composer.json
  config/install/core.entity_form_display.media.google_form.default.yml
  config/install/core.entity_form_display.media.google_form.media_library.yml
  config/install/core.entity_view_display.media.google_form.default.yml
  config/install/core.entity_view_display.media.google_form.media_library.yml
  config/install/field.field.media.google_form.field_media_google_form.yml
  config/install/field.storage.media.field_media_google_form.yml
  config/install/media.type.google_form.yml
  config/schema/stanford_media.schema.yml
  css/stanford_media.css
  modules/media_duplicate_validation/media_duplicate_validation.info.yml
  scss/stanford_media.scss
  src/Form/MediaLibraryFileUploadForm.php
  src/Form/MediaLibraryGoogleFormForm.php
  src/Plugin/EntityUsage/Track/MediaEmbed.php
  src/Plugin/Field/FieldFormatter/GoogleFormFormatter.php
  src/Plugin/MediaEmbedDialog/Image.php
  src/Plugin/Validation/Constraint/GoogleFormsConstraint.php
  src/Plugin/Validation/Constraint/GoogleFormsConstraintValidator.php
  src/Plugin/media/Source/GoogleForm.php
  stanford_media.info.yml
  stanford_media.module
  templates/responsive-image-formatter.html.twig
  tests/src/Kernel/Form/MediaLibraryFileUploadFormTest.php
  tests/src/Kernel/Form/MediaLibraryGoogleFormFormTest.php
  tests/src/Kernel/Plugin/Field/FieldFormatter/GoogleFormFormatterTest.php
  tests/src/Kernel/Plugin/media/Source/GoogleFormTest.php
  tests/src/Unit/Form/MediaLibraryGoogleFormFormTest.php
  tests/src/Unit/Plugin/EntityUsage/Track/MediaEmbedTest.php
  tests/src/Unit/Plugin/MediaEmbedDialog/ImageTest.php
  tests/src/Unit/Plugin/MediaEmbedDialog/MediaEmbedDialogTestBase.php
  tests/src/Unit/Plugin/Validation/Constraint/GoogleFormsConstraintValidatorTest.php
Labels: backend, ci, frontend, patch, size/l, tests

#54 Disable cache for image field formatters.
  src/Plugin/Field/FieldFormatter/MediaImageFormatter.php
  src/Plugin/Field/FieldFormatter/MediaImageFormatterBase.php
  src/Plugin/Field/FieldFormatter/MediaResponsiveImageFormatter.php
  src/Plugin/Field/FieldFormatter/MultiMediaFormatter.php
Labels: backend, size/xs
