Repository SU-SWS/stanford_media, pull requests merged in 2021-06, with the labels that each got.

#99 "8.x-2.x 8.2.16
  .circleci/config.yml
  .github/pull_request_template.md
  CHANGELOG.md
  modules/media_duplicate_validation/media_duplicate_validation.info.yml
  src/Plugin/Validation/Constraint/EmbeddableConstraintValidator.php
  src/Plugin/media/Source/Embeddable.php
  src/Plugin/media/Source/EmbeddableInterface.php
  stanford_media.info.yml
  tests/codeception/acceptance/StanfordMediaCest.php
  tests/src/Kernel/Plugin/media/Source/EmbeddableTest.php
  tests/src/Kernel/Validator/EmbeddableConstraintValidatorTest.php
  tests/src/Unit/Plugin/Validation/Constraint/EmbeddableConstraintValidatorTest.php
  tests/src/Unit/Plugin/Validation/Constraint/GoogleFormsConstraintValidatorTest.php
Labels: backend, ci, patch, size/s, tests

#100 D8CORE-4392 Check for media access on bulk upload form
  src/Form/BulkUpload.php
  src/Plugin/BundleSuggestionManager.php
  tests/src/Kernel/Form/BulkUploadFormTest.php
  tests/src/Kernel/Form/MediaLibraryEmbeddableFormTest.php
  tests/src/Kernel/Form/MediaLibraryGoogleFormFormTest.php
  tests/src/Kernel/Form/StanfordMediaFormTestBase.php
  tests/src/Unit/Plugin/BundleSuggestionManagerTest.php
Labels: backend, size/xs, tests

#101 8.2.17
  CHANGELOG.md
  modules/media_duplicate_validation/media_duplicate_validation.info.yml
  src/Form/BulkUpload.php
  src/Plugin/BundleSuggestionManager.php
  stanford_media.info.yml
  tests/src/Kernel/Form/BulkUploadFormTest.php
  tests/src/Kernel/Form/MediaLibraryEmbeddableFormTest.php
  tests/src/Kernel/Form/MediaLibraryGoogleFormFormTest.php
  tests/src/Kernel/Form/StanfordMediaFormTestBase.php
  tests/src/Unit/Plugin/BundleSuggestionManagerTest.php
Labels: backend, patch, size/xs, tests
