Repository SU-SWS/stanford_media, pull requests merged in 2022-06, with the labels that each got.

#125 D8CORE-5963 Improve "Decorative" approach to images
  src/Plugin/MediaEmbedDialog/Image.php
  src/StanfordMedia.php
  tests/src/Unit/Plugin/MediaEmbedDialog/ImageTest.php
  tests/src/Unit/StanfordMediaTest.php
Labels: backend, tests, size/s

#126 8.3.2
  CHANGELOG.md
  modules/media_duplicate_validation/media_duplicate_validation.info.yml
  src/Plugin/MediaEmbedDialog/Image.php
  src/StanfordMedia.php
  stanford_media.info.yml
  tests/src/Unit/Plugin/MediaEmbedDialog/ImageTest.php
  tests/src/Unit/StanfordMediaTest.php
Labels: patch, backend, tests, size/s

#128 D8CORE-5036: Generalize iframe embed validation
  .circleci/config.yml
  .github/workflows/tests.yml
  src/Plugin/EmbedValidator/AirtableEmbedValidatorBase.php
  src/Plugin/EmbedValidator/AirtableValidator.php
  src/Plugin/EmbedValidator/GoogleIframeEmbedValidatorBase.php
  src/Plugin/EmbedValidator/GoogleIframeValidator.php
  src/Plugin/EmbedValidator/OutlookCalendarEmbedValidatorBase.php
  src/Plugin/EmbedValidator/OutlookCalendarValidator.php
  src/Plugin/EmbedValidator/SharepointDocumentEmbedValidatorBase.php
  src/Plugin/EmbedValidator/SharepointDocumentValidator.php
  src/Plugin/EmbedValidator/SmartsheetEmbedValidatorBase.php
  src/Plugin/EmbedValidator/SmartsheetValidator.php
  src/Plugin/IframeEmbedValidatorBase.php
  tests/src/Unit/Plugin/EmbedValidator/AirtableValidatorTest.php
  tests/src/Unit/Plugin/EmbedValidator/GoogleIframeValidatorTest.php
  tests/src/Unit/Plugin/EmbedValidator/OutlookCalendarValidatorTest.php
  tests/src/Unit/Plugin/EmbedValidator/SharepointDocumentValidatorTest.php
  tests/src/Unit/Plugin/EmbedValidator/SmartsheetValidatorTest.php
Labels: backend, ci, tests, size/s

#127 D8CORE-5128 provide embed code validators for a few iframe services
  .circleci/config.yml
  .github/workflows/tests.yml
  src/Plugin/EmbedValidator/AirtableValidator.php
  src/Plugin/EmbedValidator/GoogleIframeValidator.php
  src/Plugin/EmbedValidator/LocalistValidator.php
  src/Plugin/EmbedValidator/OutlookCalendarValidator.php
  src/Plugin/EmbedValidator/SharepointDocumentValidator.php
  src/Plugin/EmbedValidator/SmartsheetValidator.php
  src/Plugin/EmbedValidatorInterface.php
  src/Plugin/IframeEmbedValidatorBase.php
  tests/src/Unit/Plugin/EmbedValidator/AirtableValidatorTest.php
  tests/src/Unit/Plugin/EmbedValidator/GoogleIframeValidatorTest.php
  tests/src/Unit/Plugin/EmbedValidator/LocalistValidatorTest.php
  tests/src/Unit/Plugin/EmbedValidator/OutlookCalendarValidatorTest.php
  tests/src/Unit/Plugin/EmbedValidator/SharepointDocumentValidatorTest.php
  tests/src/Unit/Plugin/EmbedValidator/SmartsheetValidatorTest.php
  tests/src/Unit/StanfordMediaTest.php
Labels: backend, ci, tests, size/s
