Repository SU-SWS/stanford_media, pull requests merged in 2022-05, with the labels that each got.

#120 8.2.25
  CHANGELOG.md
  composer.json
  modules/media_duplicate_validation/media_duplicate_validation.info.yml
  stanford_media.info.yml
  stanford_media.install
Labels: minor, size/xs

#122 Added more test
  src/Plugin/BundleSuggestionManager.php
  tests/src/Unit/Plugin/BundleSuggestionManagerTest.php
Labels: size/xs, backend, tests

#121 Suggestion for including uri scheme
  src/Plugin/BundleSuggestionManager.php
  stanford_media.services.yml
  tests/src/Unit/Plugin/BundleSuggestionManagerTest.php
Labels: size/xs, backend, tests

#123 8.3.1
  CHANGELOG.md
  modules/media_duplicate_validation/media_duplicate_validation.info.yml
  src/Plugin/BundleSuggestionManager.php
  stanford_media.info.yml
  stanford_media.services.yml
  tests/src/Unit/Plugin/BundleSuggestionManagerTest.php
Labels: patch, backend, tests, size/s
